In [1]:
import pandas as pd
import os
import numpy as np
os.chdir('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusQuestions_Text')
         #Toshiba//Dropbox//Corner Office Interviews')
### 'C://Users//2918261//Courses//Oslo Summer School//notebooks//Experiment'
### C://Users//2918261//Dropbox//Corner Office Interviews
os.getcwd()
# C:\Users\Toshiba\Dropbox\Corner Office Interviews\LIWC.xlsx

'C:\\Users\\2918261\\Dropbox\\Corner Office Interviews\\ComparisonCorpusQuestions_Text'

In [2]:
table = pd.read_excel('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusMetaData.xlsx')

In [3]:
list(table.columns)

['Name ',
 'Gender',
 'Organization',
 'Fortune',
 'Position ',
 'Current Age',
 'Higher Education Info',
 'Birth Country',
 'Stock Market Info',
 'BachelorsMin',
 'NativeSpeaker',
 'Traded',
 'MBA',
 'TitleLength',
 'Podcast',
 'Podcast_Date',
 'Podcast_Link',
 'Podcast_Details',
 'Interview_Date',
 'Interview',
 'Interview_Link',
 'Interview_Details',
 'Caption_Date',
 'Caption',
 'Caption_Link',
 'Caption_Details',
 'Essay_Date',
 'Essay_Title',
 'Essay',
 'Essay_Link ',
 'Other Sources_Date',
 'Other Sources ',
 'Other Sources_Link',
 'Other Sources_Details',
 'Sector_Grouped']

In [6]:
table = table.drop(columns = ['Fortune',
 'Position ',
 'Higher Education Info',
 'Birth Country',
 'BachelorsMin',
 'TitleLength',]).copy()

## Create empty column for interviewer's gender

In [7]:
df = pd.DataFrame(columns=['Gender_Interviewer'])
df

Empty DataFrame
Columns: [Gender_Interviewer]
Index: []

In [10]:
table = pd.concat([table, df]).copy()

### DATE

In [ ]:
from datetime import datetime
dateparse = lambda dates: [pd.datetime.strptime(d, '%m/%d/%Y') for d in dates]
LIWC = pd.read_excel('LIWC.xlsx')
# date_dt2 = datetime.strptime(date_str2, '%m/%d/%y')

In [ ]:
LIWC['Date'] = pd.to_datetime(LIWC['Date'], infer_datetime_format=True)

## save the new dataframe

In [12]:
table.to_excel('ComparisonCorpusQuestionsMeta.xlsx', index = False)